*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* testimonial section */
  #testimonySection {
    padding: 40px;
    background: 
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url('/images/technology-785742_1920.jpg') no-repeat center center/cover;
  }
  
  #testimonySection h2 {
    margin-bottom: 20px;
    font-size: 2em;
  }
  
  .testimonials-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;  /* Enable vertical scroll */
    max-height: 300px;   /* Adjust the height for the scroll */
    margin: 0 auto;
    padding: 10px;
  }
  
  .testimonial {
    background-color: transparent;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
    max-width: 80%;  /* Adjust width of the text bubble */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .testimonial-text {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
  }
  
  .rating {
    display: flex;
    gap: 5px;
    font-size: 20px;
  }
  
  .star {
    color: #f9a825;  /* Golden color for the star */
  }
  
  .author {
    margin-top: 10px;
    font-style: italic;
    color: #555;
  }

  #testimonySection .testimony {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  #testimonySection .testimony.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
